@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Roboto', 'Times New Roman', Times, serif, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 0.75fr 4fr;
    grid-template-rows: 1fr 8fr;
    height: 100vh;
    width: 100vw;
}

.sidebar{
    background-color: #4338ca;
    padding-left: 15px;
    padding-top: 15px;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 0fr auto auto;
    gap: 50px;
}

nav{
    display: grid;
}

ul{
    list-style: none;
}

.side-item a,
.logo h1 {
    display: grid;
    grid-template-columns: 0fr 1fr;
    align-items: center;
    color: white;
}

.side-img{
    margin-right: 15px;
    color: white;
}

.logo-img{
    width: 75px;
}

.logo h1{
    font-size: 25px;
}

.app-navigation{
    display: grid;
    align-items: center;
}

.app-settings{
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr 8fr;
}

header{
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1fr;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    row-gap: 25px;
}

.header-nav{
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    gap: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.search-bar{
    align-self: center;
}



form{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.search-bar-field{
    border-radius: 15px;
    border-style: none;
    background-color: #eef2ff;
    height: 30px;
    text-align: center;
}

form button{
    background-image: url(icons/black/magnify.svg);
    background-repeat: no-repeat;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    width: 25px;
    height: 25px;
}

.profile-settings{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.profile-picture img{
    height: 50px;
    border-radius: 50px;
}

.welcome-section{
    align-self: center;
}

.greeting{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 25px;
    align-items: center;
}

.greeting img{
    width: 100px;
    border-radius: 50px;
}

.button-container{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.button-container button{
    background-color: #4338ca;;
    color: white;
    border-style: none;
    height: 40px;
    width: 150px;
    border-radius: 25px;;
}

main{
    padding: 25px;
    padding-bottom: 50px;
    padding-top: 50px;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    grid-row: 2 / 3;
    gap: 25px;
    background-color: #eef2ff;
}

h1{
    margin-bottom: 10px;
}

.projects{
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 0fr 1fr;
}

.projects-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}

.card{
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    display: grid;
    grid-template-rows: 0fr 1fr 1fr;
}

.card p{
    word-wrap: break-word;
    word-break: break-all;
    width: 500px;
}

.card-links-wrapper{
    align-self: center;
    justify-self: flex-end;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 50px;
}

.announcement-section,
.trending-section{
    display: grid;
    grid-template-rows: 0fr 1fr;
}


.announcements-wrapper,
.trending-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

.announcements-wrapper{
    gap: 0px;
}

.announcement{
    border-top: solid;
    border-bottom: solid;
    border-width: 0.1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.first-announcement,
.last-announcement{
    border-top: none;
    border-bottom: none;
}

.last-announcement{

}

.user{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: center;
    align-items: center;
}

.user img{
    grid-row: 1 / 3;
    justify-self: center;
    height: 75px;
    border-radius: 50px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
